<%- include ("partials/header.ejs")%>
<title>Pagina Inicial</title>
</head>
<body>

<h1 class="text-center my-4">Sorriso Fácil</h1>

<div class="d-flex justify-content-center">
<a 
  href="login"
  class="btn btn-primary btn-lg mx-2"
  tabindex="-1"
  role="button"
  aria-disabled="true"
  >Login
</a>

<a
  href="admin"
  class="btn btn-primary btn-lg mx-2"
  tabindex="-1"
  role="button"
  aria-disabled="true"
  >Admin
</a>
</div>
<%- include ("partials/footer.ejs")%>
