<%- include ("../partials/header.ejs")%>
<title>Seja um Paciente</title>
</head>
<body>
<div class="container">
  <h1 class="text-center">Cadastro de Pacientes</h1>
  <form action="/paciente/save" method="POST">
    <div class="form-group">
      <label>Nome:</label>
      <input type="text" name="nome" class="form-control" />
    </div>

    <div class="form-group">
      <label>CPF:</label>
      <input type="text" name="cpf" class="form-control" />
    </div>

    <div class="form-group">
      <label>Telefone:</label>
      <input type="text" name="telefone" class="form-control" />
    </div>

    <div class="form-group">
      <label>Email:</label>
      <input type="text" name="email" class="form-control" />
    </div>

    <div class="form-group">
      <label>Senha:</label>
      <input type="text" name="senha" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include ("../partials/footer.ejs")%>
